* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    height: 100vh;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.counter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter{
    font-size: 40px;
    font-weight: bold;
    color: blue;
    text-align: center;
}

.btn{
    width: 100px;
}

