* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.box{
    width: 200px;
    height: 200px;
    overflow: scroll;
    background-color: yellow;
}